.container {
  display: grid;
  grid-template-rows: 100px 300px 100px;
  grid-template-areas:
    "m m h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f";
  gap: 5px;
}

.header {
  background-color: blue;
  grid-area: h;
}

.content {
  background-color: lime;
  grid-area: c;
}

.menu {
  background-color: orange;
  grid-area: m;
}

.footer {
  background-color: red;
  grid-area: f;
}
