.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 5px;
}
/* 
.header {
  background-color: blue;
  grid-area: h;
}

.content {
  background-color: lime;
  grid-area: c;
}

.menu {
  background-color: orange;
  grid-area: m;
}

.footer {
  background-color: red;
  grid-area: f;
} */
