.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: flex-start;
  /* justify-content: center; */
  flex-wrap: wrap; /* nowrap / wrap */
}
/*
.search {
}

.home {
}

.login {
  margin-left: auto;
} */

.search {
  /* ======= - F L E X - ======== */
  /* flex: 1; */
  /* : */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  /* ---------------------------- */
  align-self: flex-start;
  /* width: 300px; */
}

.home {
  /* ======= - F L E X - ======== */
  /* flex: 1; */
  /* : */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  /* ---------------------------- */
  align-self: center;
  /* width: 300px; */
}

.login {
  /* ======= - F L E X - ======== */
  /* flex: 1; */
  /* : */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  /* ---------------------------- */
  align-self: flex-end;
  /* width: 300px; */
}
