body {
  font-size: 16px;
}

.container {
  background-color: gray;
  border: 1px solid black;
  /* height: 400px; */
}

.container > div {
  font-size: 1.4em;
  color: white;
  padding: 10px;
  text-align: center;
}

.search {
  background-color: aqua;
}

.home {
  background-color: yellow;
}

.login {
  background-color: purple;
}
